body {
  background: url("../Abstract-Flowers-HD-Wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;
}

.signINBITCH {
width: 20rem
}

input {
  margin-left: 2em;
}

.signInBitch .form-control{
  width: 75%;
}

#card {
  margin-top: 22vh;
height: 40vh;
width: 20vw;
}




#nav-cat {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn.btn-secondary.my-2.my-sm-0 {
  float: right;
}


#navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}


#search-span {
  position: fixed;
  right: 0;
  margin-top: 5px;
  z-index: 1;
}

.card {
  display: inline-block;
}

.carousel-item {
    display: flex;
justify-content: space-between;
}

#carouselTrendingIndicators {
margin-top: 20vh;
}


#vote1 {
height: 40px; 
}
#vote2 {
height: 50px; 
}

.like-body {
  justify-content: space-between;

}

.post-img {
height: auto;
/* display: inline-block; */
margin: 0 auto;
}
/* 


.not-the-d-fleex {
  justify-content: center;
} */



.individual-post {
  background-color: #000000bf;
  /* mix-blend-mode: difference; */
}
.mix-text-difference {
  mix-blend-mode: difference
}