body {
  background: url("../Abstract-Flowers-HD-Wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;
}

.signIn .login-input-container{
  width: 80%;
  margin: auto;
  padding: 8px 10px;
}

#card {
  margin-top: 30vh;
  height: 35vh;
  width: 30vw;
}
.login-form{
  height: 100%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login-username {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
}
.form-control {
  text-align: center;
}
.login-comment {
  margin-bottom: 10px;
  font-size: 12px;
}
.loginBtns {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-bottom: 10px;
}


#nav-cat {
  display: flex;
  justify-content: space-between;
  width: 67%;
  margin-left: 11vw;

}

.btn.btn-secondary.my-2.my-sm-0 {
  float: right;
}

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

#search-span {
  position: fixed;
  right: 0;
  margin-top: 5px;
  z-index: 1;
}

.card {
  display: inline-block;
}

.carousel-item {
    display: flex;
justify-content: space-between;
}

#carouselTrendingIndicators {
margin-top: 20vh;
}


#vote1 {
height: 40px; 
}
#vote2 {
height: 50px; 
}

.like-body {
  justify-content: space-between;
}

.post-img {
height: auto;
/* display: inline-block; */
margin: 0 auto;
}

.individual-post {
  background-color: #000000bf;
  /* mix-blend-mode: difference; */
}
.mix-text-difference {
  mix-blend-mode: difference
}
#btnGroupDrop1 {
  background-image: linear-gradient(
    to bottom left,
    pink,
    purple,
    orange,
    red
  )
}

#dropdown-relevance {
  text-shadow: 0px 0px 15px #cc00ff,0px 0px 15px #cc00ff,0px 0px 15px #cc00ff;
  color: #ff15eb;
}

#dropdown-date {
  text-shadow: 0px 0px 15px #ff7300,0px 0px 15px #ff7300,0px 0px 15px #ff7300;
  color: #f8f559;
}

#navbar-sortby-dropdown {
  background-color: #00000000;
  border: none;
}

#log-out-btn {
position: fixed;
top: 6px;
right: 12px;
cursor: pointer;
padding-top: 2px;
}

#sortby-btn-group {
  float: right;
}


#nav-item1 {
text-shadow: 0px 0px 15px #ff0000,0px 0px 15px #ff0000,0px 0px 15px #ff0000;
  color: #ff00ea;
}
#nav-item2 {
text-shadow: 0px 0px 15px #00c3ff,0px 0px 15px #00c3ff,0px 0px 15px #00c3ff;
  color: #00c3ff;
}
#nav-item3 {
  text-shadow: 0px 0px 15px #ff00d4,0px 0px 15px #fffb00,0px 0px 15px #ff0000;
  color: #6959f8;
}

#nav-item1,
#nav-item2,
#nav-item3{
  transition: all .15s linear;
  opacity: .85;
  cursor: pointer;
}
#nav-item1:hover,
#nav-item2:hover,
#nav-item3:hover{
opacity: 1; 
}


#adventure {
  text-shadow: 0px 0px 5px #00ff80,0px 0px 5px #00ff80;
  color: #5ef859;
  background-color: #00000000;
}

#adventure-btn {
  text-shadow: 0px 0px 15px #ffbb00,0px 0px 15px #ffbb00,0px 0px 15px #ffbb00;
  color: #fffb00;
  background-color: #00000000;
}
